@use "config";

$fp-red: config.$fp-red;
$fp-purple: config.$fp-purple;

$border: $fp-red;
$legend: lighten($fp-red, 20%);
$register-color: lighten($fp-red, 35%);
$button-bg: lighten($fp-red, 10%);

.front-panel {
  background: darken($fp-purple, 15%);
  padding: 1rem;
  margin-bottom: 1rem;
  color: lighten($fp-red, 0%);
  font-family: Rubik, sans-serif;


  button {
    background: $button-bg;
    height: 2rem;
    width: 4rem;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    margin-right: 2rem;

    &:hover {
      background: lighten($button-bg, 5%);
      transition: 0.3s;
    }

    &:active {
      background: $fp-red;
      color:      lighten($fp-purple, 40%);
      transition: 0.3s;
    }
  }

  .run-reset-divider {
    display: inline-block;
    position: relative;
    top: 1rem;
    height: 3rem;
    margin-right: 2rem;
    border-left: 1px solid $border;
  }

  .errorCount {
    height: 2rem;
    font-size: 1rem;
    color: $register-color;
  }

  .processor-status {
    display: inline-block;
    height: 2rem;
    font-size: 1.5rem;
    color: lighten($fp-red, 10%);
  }

  .selectBase {
    margin-top: 1em;
    input {
      position: relative;
      top: 0.25em;
      display: inline-block;
      width: 0.5em;
    }
    label {
      display: inline-block;
      margin-right: 1em;
      font-size: 70%;
    }
  }
}



@import "registers";

